@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #E0E0E0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0E1317;
    padding: 15px 24px;
}

a {
    color: #E48B05;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #E48B05;
}

.logoContainer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #2B2F33;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181C20;
}

.logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

.message-head {
    margin-top: 10px;
    color: red;
}

.message {
    max-width: 600px;
    margin-top: 10px;
    font-size: 16px;
    padding: 0 20px;
    background-color: #2B2F33;
    padding: 15px 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.stats {
    margin-top: 10px;
    padding: 15px 24px;
}

.stats p {
    color: #E48B05;
    font-size: 20px;
    margin-bottom: 5px;
}

.stats-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.stats-box {
    background-color: #2B2F33;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.box-title {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.box-summary {
    font-size: 14px;
}

.team {
    margin-top: 20px;
    font-size: 16px;
    color: #A8A9AA;
}